In [2]:
pip install polars

Requirement already satisfied: polars in c:\users\lenovo\anaconda3\lib\site-packages (0.19.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\lenovo\anaconda3\lib\site-packages (11.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\lenovo\anaconda3\lib\site-packages (from pyarrow) (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from pathlib import Path
import polars as pl
import numpy as np
import pyarrow

import matplotlib.pyplot as plt
import seaborn as sns

##Read 5GB csv file

In [3]:
#df = pl.read_csv('archivo.csv') No funciona en esta maq se muere el kernell
df = pd.read_csv('C:/Users/LENOVO/Downloads/2019-Nov.csv')
df.head(3)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387

##BASIC OPERATIONS

In [4]:
df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
...,...,...,...,...,...,...,...,...,...
67501974,2019-11-30 23:59:58 UTC,view,15700137,2053013559733912211,NaN,NaN,277.74,532714000,02b4131c-0112-4231-aafa-ceaa08e77c1b
67501975,2019-11-30 23:59:58 UTC,view,28719425,2053013565639492569,apparel.shoes,baden,62.81,545223467,734c5eef-0742-4f8b-9d22-48f75b0bc359
67501976,2019-11-30 23:59:59 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,167.03,557794415,6fecf566-ebb0-4e70-a243-cdc13ce044cb
67501977,2019-11-30 23:59:59 UTC,view,2701706,2053013563911439225,appliances.kitchen.refrigerators,samsung,566.27,531607492,368ddc8b-5db9-40fb-b7ff-b6582a1192c0
67501978,2019-11-30 23:59:59 UTC,view,1004233,2053013555631882655,electronics.smartphone,apple,1312.52,579969851,90aca71c-ed8a-4670-866a-761ebacb732d

In [5]:
df.shape

(67501979, 9)

In [6]:
#En polars UTF8 --> string  Int, Float as usual
df.dtypes

event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
dtype: object

In [7]:
print(df.head(3))

                event_time event_type  product_id          category_id  \
0  2019-11-01 00:00:00 UTC       view     1003461  2053013555631882655
1  2019-11-01 00:00:00 UTC       view     5000088  2053013566100866035
2  2019-11-01 00:00:01 UTC       view    17302664  2053013553853497655

               category_code   brand   price    user_id  \
0     electronics.smartphone  xiaomi  489.07  520088904
1  appliances.sewing_machine  janome  293.65  530496790
2                        NaN   creed   28.31  561587266

                           user_session
0  4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1  8e5f4f83-366c-4f70-860e-ca7417414283
2  755422e7-9040-477b-9bd2-6a6e8fd97387

##Selecting and Filtering Data

In [15]:
#df[0,:]  es para polars
#df[:,['event_time','price']].head() es para polars
df.filter(df['price'] > 400).head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [14]:
#df.filter(pl.col("price") > 1000).head() para polars