Group-By in Polars

In [1]:
import polars as pl
import pandas as pd
import numpy as np
import pyarrow

import matplotlib.pyplot as plt
import seaborn as sns


# Download Dataset or run in a kaggle notebook
# https://www.kaggle.com/datasets/mkechinov/ecommerce-behavior-data-from-multi-category-store
df = pl.read_csv("C:/Users/LENOVO/Downloads/2019-Oct.csv")

In [2]:
df.head()

shape: (5, 9)
┌────────────┬────────────┬───────────┬───────────┬───┬──────────┬─────────┬───────────┬───────────┐
│ event_time ┆ event_type ┆ product_i ┆ category_ ┆ … ┆ brand    ┆ price   ┆ user_id   ┆ user_sess │
│ ---        ┆ ---        ┆ d         ┆ id        ┆   ┆ ---      ┆ ---     ┆ ---       ┆ ion       │
│ str        ┆ str        ┆ ---       ┆ ---       ┆   ┆ str      ┆ f64     ┆ i64       ┆ ---       │
│            ┆            ┆ i64       ┆ i64       ┆   ┆          ┆         ┆           ┆ str       │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪══════════╪═════════╪═══════════╪═══════════╡
│ 2019-10-01 ┆ view       ┆ 44600062  ┆ 210380745 ┆ … ┆ shiseido ┆ 35.79   ┆ 541312140 ┆ 72d76fde- │
│ 00:00:00   ┆            ┆           ┆ 959538772 ┆   ┆          ┆         ┆           ┆ 8bb3-4e00 │
│ UTC        ┆            ┆           ┆ 4         ┆   ┆          ┆         ┆           ┆ -8c23-a03 │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆           ┆ 2dfed…    │
│ 2019-10-01 ┆ view       ┆ 3900821   ┆ 205301355 ┆ … ┆ aqua     ┆ 33.2    ┆ 554748717 ┆ 9333dfbd- │
│ 00:00:00   ┆            ┆           ┆ 232677090 ┆   ┆          ┆         ┆           ┆ b87a-4708 │
│ UTC        ┆            ┆           ┆ 5         ┆   ┆          ┆         ┆           ┆ -9857-633 │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆           ┆ 6556b…    │
│ 2019-10-01 ┆ view       ┆ 17200506  ┆ 205301355 ┆ … ┆ null     ┆ 543.1   ┆ 519107250 ┆ 566511c2- │
│ 00:00:01   ┆            ┆           ┆ 979263247 ┆   ┆          ┆         ┆           ┆ e2e3-422b │
│ UTC        ┆            ┆           ┆ 1         ┆   ┆          ┆         ┆           ┆ -b695-cf8 │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆           ┆ e6e79…    │
│ 2019-10-01 ┆ view       ┆ 1307067   ┆ 205301355 ┆ … ┆ lenovo   ┆ 251.74  ┆ 550050854 ┆ 7c90fc70- │
│ 00:00:01   ┆            ┆           ┆ 892021719 ┆   ┆          ┆         ┆           ┆ 0e80-4590 │
│ UTC        ┆            ┆           ┆ 1         ┆   ┆          ┆         ┆           ┆ -96f3-13c │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆           ┆ 02c18…    │
│ 2019-10-01 ┆ view       ┆ 1004237   ┆ 205301355 ┆ … ┆ apple    ┆ 1081.98 ┆ 535871217 ┆ c6bd7419- │
│ 00:00:04   ┆            ┆           ┆ 563188265 ┆   ┆          ┆         ┆           ┆ 2748-4c56 │
│ UTC        ┆            ┆           ┆ 5         ┆   ┆          ┆         ┆           ┆ -95b4-8ce │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆           ┆ c9ff8…    │
└────────────┴────────────┴───────────┴───────────┴───┴──────────┴─────────┴───────────┴───────────┘

1. Groupby - pl.count (one group)

In [4]:
df.group_by("brand").agg([
    pl.count()
]).head()

shape: (5, 2)
┌───────────────────────────┬───────┐
│ brand                     ┆ count │
│ ---                       ┆ ---   │
│ str                       ┆ u32   │
╞═══════════════════════════╪═══════╡
│ a-derma                   ┆ 298   │
│ sacvoyage                 ┆ 453   │
│ dobrusskijfarforovyjzavod ┆ 770   │
│ danielklein               ┆ 1186  │
│ banbao                    ┆ 185   │
└───────────────────────────┴───────┘

In [10]:
# sorting in polars
df.group_by("brand").agg([
    pl.count()
]).sort("count").reverse().head()

shape: (5, 2)
┌─────────┬─────────┐
│ brand   ┆ count   │
│ ---     ┆ ---     │
│ str     ┆ u32     │
╞═════════╪═════════╡
│ null    ┆ 6113008 │
│ samsung ┆ 5282775 │
│ apple   ┆ 4122554 │
│ xiaomi  ┆ 3083763 │
│ huawei  ┆ 1111205 │
└─────────┴─────────┘

In [12]:
# aggregate in polars and convert to pandas for sorting the aggregation
df_count = df.group_by("brand").agg([
    pl.count()
]).to_pandas().sort_values("count", ascending=False)

print(df_count.shape)

df_count.head()

(3446, 2)

        brand    count
1616     None  6113008
2210  samsung  5282775
2703    apple  4122554
127    xiaomi  3083763
2017   huawei  1111205

In [14]:
# Compute count and percent of instances
(
    df.group_by("brand").agg([
        pl.count()
    ])
    .sort('count').reverse()
    .with_columns([
        (pl.col("count") / pl.col("count").sum()).alias("n_pct")
    ])
    .head(10)
)

shape: (10, 3)
┌─────────┬─────────┬──────────┐
│ brand   ┆ count   ┆ n_pct    │
│ ---     ┆ ---     ┆ ---      │
│ str     ┆ u32     ┆ f64      │
╞═════════╪═════════╪══════════╡
│ null    ┆ 6113008 ┆ 0.144009 │
│ samsung ┆ 5282775 ┆ 0.124451 │
│ apple   ┆ 4122554 ┆ 0.097118 │
│ xiaomi  ┆ 3083763 ┆ 0.072647 │
│ …       ┆ …       ┆ …        │
│ lg      ┆ 562404  ┆ 0.013249 │
│ bosch   ┆ 557090  ┆ 0.013124 │
│ oppo    ┆ 482887  ┆ 0.011376 │
│ sony    ┆ 456644  ┆ 0.010758 │
└─────────┴─────────┴──────────┘

In [15]:
df.sample(5)

shape: (5, 9)
┌────────────┬────────────┬────────────┬───────────┬───┬──────────┬────────┬───────────┬───────────┐
│ event_time ┆ event_type ┆ product_id ┆ category_ ┆ … ┆ brand    ┆ price  ┆ user_id   ┆ user_sess │
│ ---        ┆ ---        ┆ ---        ┆ id        ┆   ┆ ---      ┆ ---    ┆ ---       ┆ ion       │
│ str        ┆ str        ┆ i64        ┆ ---       ┆   ┆ str      ┆ f64    ┆ i64       ┆ ---       │
│            ┆            ┆            ┆ i64       ┆   ┆          ┆        ┆           ┆ str       │
╞════════════╪════════════╪════════════╪═══════════╪═══╪══════════╪════════╪═══════════╪═══════════╡
│ 2019-10-31 ┆ view       ┆ 14500002   ┆ 205301355 ┆ … ┆ bosch    ┆ 41.74  ┆ 523599631 ┆ 0391c41c- │
│ 17:48:27   ┆            ┆            ┆ 472591294 ┆   ┆          ┆        ┆           ┆ 72d3-48c9 │
│ UTC        ┆            ┆            ┆ 3         ┆   ┆          ┆        ┆           ┆ -89e1-9ab │
│            ┆            ┆            ┆           ┆   ┆          ┆        ┆           ┆ 6e135…    │
│ 2019-10-19 ┆ view       ┆ 16400025   ┆ 205301355 ┆ … ┆ tefal    ┆ 90.07  ┆ 536204791 ┆ aafc138f- │
│ 18:35:14   ┆            ┆            ┆ 824912850 ┆   ┆          ┆        ┆           ┆ 23c3-404b │
│ UTC        ┆            ┆            ┆ 9         ┆   ┆          ┆        ┆           ┆ -9eb4-8a8 │
│            ┆            ┆            ┆           ┆   ┆          ┆        ┆           ┆ 5a2ef…    │
│ 2019-10-28 ┆ view       ┆ 2201036    ┆ 205301356 ┆ … ┆ canon    ┆ 308.86 ┆ 565142503 ┆ 938b2523- │
│ 17:40:19   ┆            ┆            ┆ 055599584 ┆   ┆          ┆        ┆           ┆ 1e38-4360 │
│ UTC        ┆            ┆            ┆ 5         ┆   ┆          ┆        ┆           ┆ -b1c1-f8b │
│            ┆            ┆            ┆           ┆   ┆          ┆        ┆           ┆ 34022…    │
│ 2019-10-30 ┆ view       ┆ 12718373   ┆ 205301355 ┆ … ┆ triangle ┆ 48.91  ┆ 518060299 ┆ bc05feae- │
│ 09:47:23   ┆            ┆            ┆ 355989635 ┆   ┆          ┆        ┆           ┆ cd9a-4108 │
│ UTC        ┆            ┆            ┆ 5         ┆   ┆          ┆        ┆           ┆ -abb4-bd2 │
│            ┆            ┆            ┆           ┆   ┆          ┆        ┆           ┆ e235b…    │
│ 2019-10-21 ┆ view       ┆ 10900222   ┆ 205301355 ┆ … ┆ moulinex ┆ 42.78  ┆ 554071220 ┆ 846699fe- │
│ 06:13:56   ┆            ┆            ┆ 506984588 ┆   ┆          ┆        ┆           ┆ 44ce-43a7 │
│ UTC        ┆            ┆            ┆ 5         ┆   ┆          ┆        ┆           ┆ -8020-33d │
│            ┆            ┆            ┆           ┆   ┆          ┆        ┆           ┆ eba7a…    │
└────────────┴────────────┴────────────┴───────────┴───┴──────────┴────────┴───────────┴───────────┘

Value Counts works as expected

In [17]:
# this works!
df['event_type'].value_counts()

# More verbose version with groupby
df.group_by("event_type").agg(pl.count())

shape: (3, 2)
┌────────────┬──────────┐
│ event_type ┆ count    │
│ ---        ┆ ---      │
│ str        ┆ u32      │
╞════════════╪══════════╡
│ purchase   ┆ 742849   │
│ cart       ┆ 926516   │
│ view       ┆ 40779399 │
└────────────┴──────────┘

2. Groupby - pl.count (two groups)

In [18]:
df_brand_event = df.group_by(["brand", "event_type"]).agg([
    pl.count()
])

df_brand_event.head()

shape: (5, 3)
┌────────────┬────────────┬────────┐
│ brand      ┆ event_type ┆ count  │
│ ---        ┆ ---        ┆ ---    │
│ str        ┆ str        ┆ u32    │
╞════════════╪════════════╪════════╡
│ aqua       ┆ view       ┆ 14155  │
│ brw        ┆ view       ┆ 170638 │
│ gran-stone ┆ view       ┆ 3129   │
│ lg         ┆ view       ┆ 540131 │
│ microsoft  ┆ view       ┆ 21435  │
└────────────┴────────────┴────────┘

In [19]:
# Convert from long to wide format
df_brand_event_wide = df_brand_event.pivot(values="count", 
                                           index=["brand"], 
                                           columns=['event_type'])
df_brand_event_wide.head()

shape: (5, 4)
┌────────────┬────────┬───────┬──────────┐
│ brand      ┆ view   ┆ cart  ┆ purchase │
│ ---        ┆ ---    ┆ ---   ┆ ---      │
│ str        ┆ u32    ┆ u32   ┆ u32      │
╞════════════╪════════╪═══════╪══════════╡
│ aqua       ┆ 14155  ┆ 391   ┆ 187      │
│ brw        ┆ 170638 ┆ null  ┆ 808      │
│ gran-stone ┆ 3129   ┆ null  ┆ 26       │
│ lg         ┆ 540131 ┆ 13546 ┆ 8727     │
│ microsoft  ┆ 21435  ┆ 313   ┆ 225      │
└────────────┴────────┴───────┴──────────┘

In [21]:
# Pivot and sorting
df_brand_event_wide = ( 
    df_brand_event
    .pivot(values="count", index=["brand"], columns=['event_type'])
    .sort("purchase").reverse()
)

df_brand_event_wide.head()

shape: (5, 4)
┌─────────┬─────────┬────────┬──────────┐
│ brand   ┆ view    ┆ cart   ┆ purchase │
│ ---     ┆ ---     ┆ ---    ┆ ---      │
│ str     ┆ u32     ┆ u32    ┆ u32      │
╞═════════╪═════════╪════════╪══════════╡
│ samsung ┆ 4806630 ┆ 303249 ┆ 172896   │
│ apple   ┆ 3770597 ┆ 209084 ┆ 142873   │
│ null    ┆ 6035988 ┆ 18806  ┆ 58214    │
│ xiaomi  ┆ 2922650 ┆ 104497 ┆ 56616    │
│ huawei  ┆ 1045572 ┆ 42132  ┆ 23501    │
└─────────┴─────────┴────────┴──────────┘

In [22]:
# Keep original columns and compute % values
agg_performance = df_brand_event_wide.with_columns([
    (pl.col("cart") / pl.col("view")).alias("cart_by_views"),
    (pl.col("purchase") / pl.col("cart")).alias("buy_by_cart"),
    (pl.col("purchase") / pl.col("view")).alias("buy_by_views"),
])
agg_performance.head()

shape: (5, 7)
┌─────────┬─────────┬────────┬──────────┬───────────────┬─────────────┬──────────────┐
│ brand   ┆ view    ┆ cart   ┆ purchase ┆ cart_by_views ┆ buy_by_cart ┆ buy_by_views │
│ ---     ┆ ---     ┆ ---    ┆ ---      ┆ ---           ┆ ---         ┆ ---          │
│ str     ┆ u32     ┆ u32    ┆ u32      ┆ f64           ┆ f64         ┆ f64          │
╞═════════╪═════════╪════════╪══════════╪═══════════════╪═════════════╪══════════════╡
│ samsung ┆ 4806630 ┆ 303249 ┆ 172896   ┆ 0.06309       ┆ 0.570145    ┆ 0.03597      │
│ apple   ┆ 3770597 ┆ 209084 ┆ 142873   ┆ 0.055451      ┆ 0.683328    ┆ 0.037891     │
│ null    ┆ 6035988 ┆ 18806  ┆ 58214    ┆ 0.003116      ┆ 3.095501    ┆ 0.009644     │
│ xiaomi  ┆ 2922650 ┆ 104497 ┆ 56616    ┆ 0.035754      ┆ 0.541795    ┆ 0.019371     │
│ huawei  ┆ 1045572 ┆ 42132  ┆ 23501    ┆ 0.040296      ┆ 0.557795    ┆ 0.022477     │
└─────────┴─────────┴────────┴──────────┴───────────────┴─────────────┴──────────────┘

In [27]:
agg_performance.filter(pl.col("buy_by_cart") < 1)\
.select(['cart_by_views', 'buy_by_cart', 'buy_by_views'])\
.to_pandas().quantile([0, 0.25, 0.5, 0.75, 0.99, 1])

#.boxplot()

      cart_by_views  buy_by_cart  buy_by_views
0.00       0.002124     0.090909      0.000826
0.25       0.012777     0.500000      0.006614
0.50       0.018381     0.612583      0.011384
0.75       0.025814     0.724490      0.015649
0.99       0.061554     0.955687      0.035142
1.00       0.142418     0.986928      0.052284

In [28]:
df.head()

shape: (5, 9)
┌────────────┬────────────┬───────────┬───────────┬───┬──────────┬─────────┬───────────┬───────────┐
│ event_time ┆ event_type ┆ product_i ┆ category_ ┆ … ┆ brand    ┆ price   ┆ user_id   ┆ user_sess │
│ ---        ┆ ---        ┆ d         ┆ id        ┆   ┆ ---      ┆ ---     ┆ ---       ┆ ion       │
│ str        ┆ str        ┆ ---       ┆ ---       ┆   ┆ str      ┆ f64     ┆ i64       ┆ ---       │
│            ┆            ┆ i64       ┆ i64       ┆   ┆          ┆         ┆           ┆ str       │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪══════════╪═════════╪═══════════╪═══════════╡
│ 2019-10-01 ┆ view       ┆ 44600062  ┆ 210380745 ┆ … ┆ shiseido ┆ 35.79   ┆ 541312140 ┆ 72d76fde- │
│ 00:00:00   ┆            ┆           ┆ 959538772 ┆   ┆          ┆         ┆           ┆ 8bb3-4e00 │
│ UTC        ┆            ┆           ┆ 4         ┆   ┆          ┆         ┆           ┆ -8c23-a03 │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆           ┆ 2dfed…    │
│ 2019-10-01 ┆ view       ┆ 3900821   ┆ 205301355 ┆ … ┆ aqua     ┆ 33.2    ┆ 554748717 ┆ 9333dfbd- │
│ 00:00:00   ┆            ┆           ┆ 232677090 ┆   ┆          ┆         ┆           ┆ b87a-4708 │
│ UTC        ┆            ┆           ┆ 5         ┆   ┆          ┆         ┆           ┆ -9857-633 │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆           ┆ 6556b…    │
│ 2019-10-01 ┆ view       ┆ 17200506  ┆ 205301355 ┆ … ┆ null     ┆ 543.1   ┆ 519107250 ┆ 566511c2- │
│ 00:00:01   ┆            ┆           ┆ 979263247 ┆   ┆          ┆         ┆           ┆ e2e3-422b │
│ UTC        ┆            ┆           ┆ 1         ┆   ┆          ┆         ┆           ┆ -b695-cf8 │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆           ┆ e6e79…    │
│ 2019-10-01 ┆ view       ┆ 1307067   ┆ 205301355 ┆ … ┆ lenovo   ┆ 251.74  ┆ 550050854 ┆ 7c90fc70- │
│ 00:00:01   ┆            ┆           ┆ 892021719 ┆   ┆          ┆         ┆           ┆ 0e80-4590 │
│ UTC        ┆            ┆           ┆ 1         ┆   ┆          ┆         ┆           ┆ -96f3-13c │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆           ┆ 02c18…    │
│ 2019-10-01 ┆ view       ┆ 1004237   ┆ 205301355 ┆ … ┆ apple    ┆ 1081.98 ┆ 535871217 ┆ c6bd7419- │
│ 00:00:04   ┆            ┆           ┆ 563188265 ┆   ┆          ┆         ┆           ┆ 2748-4c56 │
│ UTC        ┆            ┆           ┆ 5         ┆   ┆          ┆         ┆           ┆ -95b4-8ce │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆           ┆ c9ff8…    │
└────────────┴────────────┴───────────┴───────────┴───┴──────────┴─────────┴───────────┴───────────┘

3. Group By - UserId + 2 Groups

In [29]:
# group_by 
# %%timeit
# 8.72 s ± 246 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

df_user_brand_event = df.group_by(["user_id", "brand", "event_type"]).agg([
    pl.count()
])

df_user_brand_event.head()

shape: (5, 4)
┌───────────┬──────────────────┬────────────┬───────┐
│ user_id   ┆ brand            ┆ event_type ┆ count │
│ ---       ┆ ---              ┆ ---        ┆ ---   │
│ i64       ┆ str              ┆ str        ┆ u32   │
╞═══════════╪══════════════════╪════════════╪═══════╡
│ 541312140 ┆ shiseido         ┆ view       ┆ 2     │
│ 512742880 ┆ pulser           ┆ view       ┆ 37    │
│ 555444559 ┆ haier            ┆ view       ┆ 13    │
│ 555446831 ┆ apple            ┆ view       ┆ 10    │
│ 554754045 ┆ hotpoint-ariston ┆ view       ┆ 9     │
└───────────┴──────────────────┴────────────┴───────┘

In [30]:
df_user_brand_event.shape

(12028150, 4)

In [31]:
# pivot and sort
df_user_brand_event = (df_user_brand_event
    .pivot(values="count", index=["user_id", "brand"], columns=['event_type'])
    .sort("purchase").reverse()
)
df_user_brand_event.shape

(11158112, 5)

In [32]:
df_user_brand_event.head()

shape: (5, 5)
┌───────────┬─────────┬──────┬──────────┬──────┐
│ user_id   ┆ brand   ┆ view ┆ purchase ┆ cart │
│ ---       ┆ ---     ┆ ---  ┆ ---      ┆ ---  │
│ i64       ┆ str     ┆ u32  ┆ u32      ┆ u32  │
╞═══════════╪═════════╪══════╪══════════╪══════╡
│ 523974502 ┆ samsung ┆ 385  ┆ 272      ┆ 218  │
│ 543312954 ┆ samsung ┆ 443  ┆ 192      ┆ 103  │
│ 519267944 ┆ apple   ┆ 314  ┆ 183      ┆ 184  │
│ 513117637 ┆ apple   ┆ 438  ┆ 183      ┆ 56   │
│ 517728689 ┆ samsung ┆ 429  ┆ 171      ┆ 486  │
└───────────┴─────────┴──────┴──────────┴──────┘

In [33]:
df_user_brand_event.sample(10)

shape: (10, 5)
┌───────────┬─────────┬──────┬──────────┬──────┐
│ user_id   ┆ brand   ┆ view ┆ purchase ┆ cart │
│ ---       ┆ ---     ┆ ---  ┆ ---      ┆ ---  │
│ i64       ┆ str     ┆ u32  ┆ u32      ┆ u32  │
╞═══════════╪═════════╪══════╪══════════╪══════╡
│ 512399252 ┆ lemark  ┆ 1    ┆ null     ┆ null │
│ 513282718 ┆ topface ┆ 2    ┆ null     ┆ null │
│ 518895681 ┆ stels   ┆ 2    ┆ null     ┆ null │
│ 515888702 ┆ samsung ┆ 5    ┆ null     ┆ null │
│ …         ┆ …       ┆ …    ┆ …        ┆ …    │
│ 560376610 ┆ artel   ┆ 1    ┆ null     ┆ null │
│ 550316295 ┆ apple   ┆ 1    ┆ null     ┆ null │
│ 515009595 ┆ orient  ┆ 1    ┆ null     ┆ null │
│ 546503214 ┆ xiaomi  ┆ 6    ┆ 1        ┆ 2    │
└───────────┴─────────┴──────┴──────────┴──────┘

In [34]:
df_user_brand_event = df_user_brand_event.with_columns([
    pl.col('purchase').fill_null(strategy="zero"),
    pl.col('view').fill_null(strategy="zero"),
    pl.col('cart').fill_null(strategy="zero"),
])

In [35]:
df_user_brand_event.sample(10)

shape: (10, 5)
┌───────────┬───────────┬──────┬──────────┬──────┐
│ user_id   ┆ brand     ┆ view ┆ purchase ┆ cart │
│ ---       ┆ ---       ┆ ---  ┆ ---      ┆ ---  │
│ i64       ┆ str       ┆ u32  ┆ u32      ┆ u32  │
╞═══════════╪═══════════╪══════╪══════════╪══════╡
│ 547307134 ┆ philips   ┆ 4    ┆ 0        ┆ 0    │
│ 514093605 ┆ rebus     ┆ 3    ┆ 0        ┆ 0    │
│ 560771867 ┆ delonghi  ┆ 1    ┆ 0        ┆ 0    │
│ 512615513 ┆ null      ┆ 1    ┆ 0        ┆ 0    │
│ …         ┆ …         ┆ …    ┆ …        ┆ …    │
│ 545806761 ┆ komfort-s ┆ 4    ┆ 0        ┆ 0    │
│ 513503095 ┆ t-max     ┆ 17   ┆ 0        ┆ 0    │
│ 518865905 ┆ apple     ┆ 3    ┆ 0        ┆ 0    │
│ 515184056 ┆ acer      ┆ 10   ┆ 0        ┆ 0    │
└───────────┴───────────┴──────┴──────────┴──────┘

In [36]:
# Looks like these user-ids are distributors (nobody need 400 samsung devices)
df_user_brand_event.head(10)

shape: (10, 5)
┌───────────┬─────────┬──────┬──────────┬──────┐
│ user_id   ┆ brand   ┆ view ┆ purchase ┆ cart │
│ ---       ┆ ---     ┆ ---  ┆ ---      ┆ ---  │
│ i64       ┆ str     ┆ u32  ┆ u32      ┆ u32  │
╞═══════════╪═════════╪══════╪══════════╪══════╡
│ 523974502 ┆ samsung ┆ 385  ┆ 272      ┆ 218  │
│ 543312954 ┆ samsung ┆ 443  ┆ 192      ┆ 103  │
│ 519267944 ┆ apple   ┆ 314  ┆ 183      ┆ 184  │
│ 513117637 ┆ apple   ┆ 438  ┆ 183      ┆ 56   │
│ …         ┆ …       ┆ …    ┆ …        ┆ …    │
│ 513320236 ┆ samsung ┆ 305  ┆ 135      ┆ 85   │
│ 530834332 ┆ samsung ┆ 270  ┆ 129      ┆ 33   │
│ 547330965 ┆ apple   ┆ 491  ┆ 125      ┆ 31   │
│ 553431815 ┆ apple   ┆ 174  ┆ 124      ┆ 10   │
└───────────┴─────────┴──────┴──────────┴──────┘

In [37]:
df_user_brand_event = df_user_brand_event.with_columns(
    (pl.col("purchase") / pl.col("view")).alias("pct_buy_views")
)